<div *ngIf="spinner==0">
  <a  href="/CreateCheapter" class="btn btn-success">Add New Cheapter</a>
<table style="width: 100%;" class="styled-table">
    <thead>
        <tr>
          <th>Poster</th>
            <th>Cheapter Name</th>
            <th>Note</th>
            <th>Video</th>
            <th>Questions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Response.values">
        <td><img width="150px" height="200px" src={{item.poster}} alt="Poster"></td>
        <td><b style="font-size: 40px;">{{item.name}}</b></td>
        <td><a href={{item.note}} target="_blank"><b style="font-size: 40px; text-decoration: none;">Note</b></a></td>
        <td (click)="Video(item.id)"><b style="font-size: 40px; text-decoration: none;"><a href="">Videos</a></b></td>
        <td (click)="Question(item.id)"><b style="font-size: 40px; text-decoration: none;"><a href="">Question</a></b></td>
        <td>
          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a (click)="Edit(item)" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Edit Cheapter</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <!-- <a (click)="Video(item.id)" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Videos</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
           -->
          <a (click)="Delete(item.id)" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Delete Cheapter</p>
            </div>
          </a>
        </div>
</td>
    </tr>
        
    </tbody>
</table>
</div>
<app-Spinner *ngIf="spinner==1"></app-Spinner>
